@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MaisonNeue';
  src: url('../public/assets/fonts/MaisonNeue-Light.otf'); 
}

@font-face {
  font-family: 'TestSoehneSchmal';
  src: url('../public/assets/fonts/TestSöhneSchmal-Dreiviertelfett.otf'); 
}

@font-face {
  font-family: 'MaisonNeueMono';
  src: url('../public/assets/fonts/Maison-Neue-Mono.ttf');
}
@font-face {
    font-family: "Sohne Schmal";
    src:url('../public/assets/fonts/TestSöhneSchmal-Dreiviertelfett.woff2') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Sohne Schmal";
    src:url('../public/assets/fonts/TestSöhneSchmal-Fett.woff2') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

 @font-face {
     font-family: "MaisonNeueDemi";
     src: url('../public/assets/fonts/MaisonNeue-Demi.ttf') format("truetype");
 }

 @font-face {
     font-family: "MaisonNeueMedium";
     src: url('../public/assets/fonts/MaisonNeue-Medium.ttf') format("truetype");
 }

 @font-face {
     font-family: "MaisonNeueBook";
     src: url('../public/assets/fonts/Maison-Neue-Book.ttf') format("truetype");
 }

 
 @font-face {
     font-family: "MaisonNeueLight";
     src: url('../public/assets/fonts/MaisonNeue-Light.ttf') format("truetype");
 }

.mainson-Neue{
  font-family: 'MaisonNeue', sans-serif;
}
.mainson-Neue-Mono {
  font-family: 'MaisonNeueMono', sans-serif;
}
.sohne-schmal {
  font-family: 'TestSoehneSchmal', sans-serif;
}
.bg-actual{
  background-image: url("../public/assets/images/webp/actual-bg.webp");
}
.bg-marketing-one{
  background-image: url("../public/assets/images/webp/mobile-read-one.webp");
}
.bg-marketing-two{
  background-image: url("../public/assets/images/webp/mobile-read-two.webp");
}
.bg-marketing-three{
  background-image: url("../public/assets/images/webp/mobile-read-three.webp");
}
.swiper-button-next{
 background: transparent !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
content: '' !important;
}
.swiper-slide .layer {
    opacity: 1;
}

.swiper-slide-active .layer {
    opacity: 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background-color: white !important;
    border-radius: 0 !important;
}